.input{
    width: 300px;
    height: 180px;
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center!important;

   
}
.wrapper h1{
   
    font-weight: 400;
}

.section-wrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100px;
    padding: 20px;

}
.section-wrapp p {
  
   font-size: 2em;
}
.section {
    border: 1px solid black;
    height: 75%;
    width: 21%;
    margin-top: 45px;
    background-color: #D4D3D2;
    border: none;
    margin-left: 30px;
    border-radius: 15px 15px 15px 15px;
    
}

#textarea{
    width: 350px;
    height: 37vh;
    border-radius: 10px 10px 10px 10px;
    background-color: #D4D3D2;
    border: none;
    margin-bottom: 50px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 50px;
   
}

.main{
    display: flex;
    align-items: baseline!important;
    justify-content: center;

}
.btn{
    border:none
} 

@media (max-width: 1000px){
    #textarea{
        width: 180px;
        height: 20vh
    }
    .section{
        height: 50%;
        width: 25%;
        margin-bottom: 100px;
      
    }
   
   .section-wrapp p{
    font-size: 0.6em;
   }
   .section h6{
    font-size: 0.6em;
   }
}


@media (max-width: 1100px){
    #textarea{
        width: 200px;
        height: 20vh
    }
    .section{
        height: 60%;
        width: 40%;
        margin-bottom: 100px;
      
    }
   
   .section-wrapp p{
    font-size: 0.7em;
   }
   .section h6{
    font-size: 0.8em;
   } 

}